.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p{
    font-family: 'Work Sans', sans-serif;
  }
  .blogs-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
     }
  
   h1{
    font-family: 'Inria Serif', serif;
    font-size: 7vh;
    letter-spacing: 0.2px;
       }

     h2 {
        position: relative;
        font-family: 'Inria Serif', serif;
        font-size: 7vh;
        letter-spacing: 0.2px;
        padding-right: 20px; /* Adjust the value to increase or decrease the space */
      }
      
      h2::after {
        content: '';
        position: absolute;
        top: 0;
        left: -10px;
        width: 4px;
        height: 100%;
        background: #EE4037;
        opacity: 1;
      }
      
    .blog-section{
        padding: 0 20vh;
    }
    .post-category {
        color: #2f2f2f;
        font-family: 'Work Sans';
        font-weight: bolder;
        font-size: 13px;
      }
     
    /* CSS for ActionAreaCard component */

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); /* Display three cards per row */
  }
  
  @media (max-width: 768px) {
    /* Media query for screens wider than 768px */
    .card-container {
        grid-template-columns: 1fr; /* Display one card per row by default */

    }
    .blog-section {
        padding: 0 3vh !important;
    }
  }
  